body {
background-color:antiquewhite;
column-count: 2;
}

h1 {
color: #bb925e;
text-align:left;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:40px;
font-variant:small-caps;
margin-top: 5px;
}

p {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 16px;
text-align: justify;
float:left;
}

a {
color:burlywood
}

.link1 {
float:left;
display: block;
}

a:hover {
color:#bb925e
}

img {
width: 350px;
border-left:2px black solid;
border-right: 2px black solid;
border-top: 2px black solid;
border-bottom: 2px black solid
}


h2 {
color:burlywood;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
font-variant: small-caps;
}

h3 {
color:burlywood;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
font-variant: small-caps;
}

table, tr, th {
border: 1px solid;
}

th {
font-weight:bold;
text-align: center;
}

.box1 {
width: 40%;
float:fit-content
}

.box2 {
width: 60%;
float:fit-content
}
