body {
background-color:antiquewhite;
font-family:Georgia;
font-size: 15px;
text-align: justify;
}

h1 {
color: #bb925e;
text-align:center;
font-family:'Segoe UI';
font-size:34px;
font-variant:small-caps;
letter-spacing: 0.1em;
margin-top: 1px;
}

a {
color:#bb925e;
padding: 5px;
}

.link1 {
float:left;
display: block;
}

a:hover {
color:burlywood
}

.lisabox {
    padding-left:15%
}

img {
width: 315px;
border-left:2px black solid;
border-right: 2px black solid;
border-top: 2px black solid;
border-bottom: 2px black solid;
}


h2 {
color:burlywood;
text-align: center;
font-family:'Segoe UI';
font-size: 26px;
font-variant: small-caps;
}

h3 {
color:burlywood;
text-align: center;
font-family:'Segoe UI';
font-size: 26px;
font-variant: small-caps;
}

table, td, th {
border: 1px solid;
border-collapse: collapse;
padding: 5px
}

th {
font-weight:bold;
text-align: center;
}

.box1 {
width: 40%;
float:left;
margin:auto
}

.box2 {
width: 60%;
float:left;
margin:auto
}
